.each-date-container {
  display: flex;
  align-items: center;
  width: auto;
  height: 150px;
  gap: 0px 15px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.each-date-container p {
  text-align: center;
}

.sunrise-sunset {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.date {
  font-size: 1.3rem;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.date .weekday {
  font-size: 2rem;
}

img {
  width: 30px;
}

.weather-info {
  font-size: 1.5rem;
}

.day-data-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.each-date-container:last-child {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .each-date-container {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }
  .each-date-container p {
    margin-top: 10px;
  }

  .day-data-card {
    margin-top: 15px;
  }

  .sunrise-sunset {
    margin-top: 10px;
  }
  .date {
    font-size: 1.3rem;
    min-width: unset;
    margin-bottom: 10px;
    padding: 10px 25px;
  }
}
